<% include ../partials/header %>

<div class="row">
	<div class="col-md-4">
		<h1 id='user-name'><%= user.firstName + ' ' + user.lastName%></h1>
		<div class="thumbnail">
			<img src="<%= user.avatar%>" alt="user profile image">
			<div class="caption"><a href="mailto:<%=user.email%>"><%=user.email%></a></div>
		</div>
		Amet sapiente debitis neque quia corrupti? Provident repellat nulla veniam sequi itaque, maiores. A molestiae harum consequatur eius placeat accusamus Nesciunt ipsa cupiditate sunt rerum molestiae Iure officiis ut ratione?
	</div>
	<div class="col-md-8">
		<h3><%= user.username%>'s Campgrounds</h3>
		<ul>
			<% campgrounds.forEach(function(campground) {%>
				<li><a href="/campgrounds/<%= campground.id%>"><%= campground.name %></a> </li>
			<%});%>
		</ul>
	</div>
</div>

<% include ../partials/footer %>
